<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Nuovo contatto</title>
</head>
<body>
    <div class="row justify-content-center mb-3">
        <a th:href="@{/}" class="btn btn-primary">Home</a>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-6">
<!-- form di inserimento dei dati del contatto -->
        <div>
            <form method="post" th:action="@{/new}" th:object="${contactForm}">
                <div class="mb-3">
                    <label>Nome:</label>
                    <input th:field="*{name}" type="text" class="form-control">

                    <!-- feedback della validazione -->
                    <div th:if="${#fields.hasErrors('name')}">
                        <span class="text-danger" th:errors="*{name}"></span>
                    </div>  
                </div>
                <div class="mb-3">
                    <label>Cognome:</label>
                    <input th:field="*{surname}" type="text" class="form-control">
                                    <!-- feedback della validazione -->
                    <div th:if="${#fields.hasErrors('surname')}">
                        <span class="text-danger" th:errors="*{surname}"></span>
                    </div>  
                </div>
                <div class="mb-3">
                    <label>Telefono:</label>
                    <input th:field="*{phone}" type="tel" class="form-control" pattern="([0-9]{10})">
                    <!-- feedback della validazione -->
                    <div th:if="${#fields.hasErrors('phone')}">
                        <span class="text-danger" th:errors="*{phone}"></span>
                    </div>  
                </div>
                <div class="mb-3">
                    <label>Email:</label>
                    <input th:field="*{email}" type="email" placeholder="email@example.com" class="form-control">
                    <!-- feedback della validazione -->
                    <div th:if="${#fields.hasErrors('email')}">
                        <span class="text-danger" th:errors="*{email}"></span>
                    </div>  
                </div>
                <div class="mb-3">
                    <input type="submit" value="Aggiungi" class="btn btn-success">
                    <input type="reset" value="Svuota" class="btn btn-secondary">
                </div>
            </form>
            </div>
        </div>
    </div>
    
</body>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</html>