<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    <title>Lista contatti</title>
</head>
<body>
    <h1>Spring Rubrica</h1>
   <div class="container">
     <div>
        <a th:href="@{/new}" class="btn btn-primary">Nuovo Contatto</a>
    </div>
    <header>
        Lista contatti
    </header>
    <div th:if="${contacts}">
        <table class="table table-dark table-striped table-bordered table-hover">
            <thead class="table-primary">
                <th>Nome</th>
                <th>Cognome</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Dettagli</th>
            </thead>
            <tbody>
                <tr th:each="c : ${contacts}">
                    <td th:text="${c.name}"></td> <!-- th:text non è modificabile -->
                    <td th:text="${c.surname}"></td>
                    <td th:text="${c.phone}"></td>
                    <td th:text="${c.email}"></td>

                    <td>
                        <a th:href="@{'/contact/delete/'+${c.id}}" method="delete" class="btn btn-danger"> <i class="bi bi-trash3"></i> Elimina</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   </div>

    <p th:if="${#lists.isEmpty(contacts)}">Nessun contatto presente</p>
</body>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</html>